{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
    <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.assignments %}
    <ul>
      <li class="item">
        <span class="project-title">
          {% if project.link %}
            
            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ project.tooltip }}">
              <a href="{{ project.link }}" target="_blank" >{{ project.title }}</a>
            </span>
          {% else %}
            {{ project.title }}
          {% endif %}
        </span>

        {% if project.stack %}
          <div>
          {% for item in project.stack %}
            <span class="badge bg-secondary">{{ item }}</span>
          {% endfor %}
          </div>
        {% endif %}
      </li>
    </ul><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
